*{
    font-family: monospace;
}

window {
    border: 5px solid #1e1e2e;
    background-color: transparent;
    opacity: 0.6;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-bottom: 3px solid black;
    background-color: #383C4A;
    color: white;
}

#input:focus { border: 0; }

#inner-box {
    background-color: #383C4A;
    color: #fff;
}

#outer-box {
    margin: 5px;
    padding:20px;
    background-color: #383C4A;
}

#scroll {
}

#text {
padding: 5px;
color: white;
}

#entry:nth-child(even){
    background-color: #404552;
    color: #f38ba8
}

#entry:selected {
    background-color: #1e1e2e;
}

#text:selected {
}
